.flex-container {
  background-color: #FFBC42;
  display: flex;
}

.flex-container div {
  height: 50px;
  background-color: #d81159;
}

#example-one div,
#example-two div {
  flex: 1;
}

#example-one {
  padding: 10px;
  gap: 10px;
}

#example-two {
  padding: 15px;
  gap: 15px;
}

#example-three,
#example-four {
  padding: 12px;
  gap: 12px;
}

#example-three div,
#example-four div {
  border: 2px solid #2a2b2a;
  flex-grow: 1;
}

div#double-sized {
  flex-grow: 2;
}

#example-four {
  flex-wrap: wrap;
}

#new-line-item {
  width: 100%;
}